
humio-core:
  enabled: true

  # The number of Humio pods
  replicas: 1

  # Use a custom version of Humio.
  image: humio/humio-core:1.13.0

  # Custom partitions
  ingest:
    initialPartitionsPerNode: 4
  storage:
    initialPartitionsPerNode: 4

  openshift:
    host: ""

  # Custom CPU/Memory resources
  resources:
    limits:
     cpu: 2
     memory: 8Gi
    requests:
     cpu: 1
     memory: 6Gi

  cp-helm-charts:
    cp-kafka:
      persistence:
        enabled: true
        size: 50Gi

  # Custom JVM memory settings (these will depend on resources defined)
  jvm:
    xss: 2m
    xms: 4g
    xmx: 16g
    maxDirectMemorySize: 16g
    extraArgs: -XX:+UseParallelOldGC -XX:+UnlockDiagnosticVMOptions -XX:CompileCommand=dontinline,com/humio/util/HotspotUtilsJ.dontInline -Xlog:gc+jni=debug:stdout -Dakka.log-config-on-start=on -Xlog:gc*:stdout:time,tags

  affinity:
    # Affinity policy to prevent multiple Humio pods per node (recommended)
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
          - key: app
            operator: In
            values:
            - humio-core
        topologyKey: "kubernetes.io/hostname"
global:
  sharedTokens:
    fluentbit: {kubernetes: in-cluster}

humio-strix:
  enabled: false
  replicas: 10
  imagePullPolicy: Always
  simulationOptions:
    hecSimulation:
      users: 5

humio-fluentbit:
  enabled: true
  # Replace this token value with Ingest token from "robot-shop" repo after Humio and Fluentbit deployed in the environment.
  # create the repo "robot-shop" and replace this "dummy_token" with ingestion token of "robot-shop" repo.
  token: "dummy_token"
  # humioRepoName: aiops
  humioRepoName: "robot-shop"
  humioReleaseName: "humio"
  humioNamespace: "humio-logging"
  es:
    tls: false # TLS On. Set to false to turn it off.
    tls_verify: false # TLS verify On. Set to false to turn it off.
    autodiscovery: true
  securityContext:
    privileged: true
  scc:
    enabled: true
  inputConfig: |-
    [INPUT]
        Name             tail
        Path             /var/log/containers/*bookinfo_*.log
        Parser           docker
        Tag              kube.*
        Refresh_Interval 5
        Mem_Buf_Limit    256MB
        Skip_Long_Lines  On
    [INPUT]
        Name             tail
        Path             /var/log/containers/*robot-shop_*.log
        Parser           docker
        Tag              kube.*
        Refresh_Interval 5
        Mem_Buf_Limit    256MB
        Skip_Long_Lines  On
    [INPUT]
        Name             tail
        Path             /var/log/containers/*qotd*.log
        Parser           docker
        Tag              kube.*
        Refresh_Interval 5
        Mem_Buf_Limit    256MB
        Skip_Long_Lines  On
  resources:
    limits:
      cpu: 256m
      memory: 500Mi
    requests:
      cpu: 128m
      memory: 256Mi

humio-metrics:
  enabled: false